a {
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 4px transparent;
}
body {
	margin: 0;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	background-color: #050505;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: url("../img/bg.gif");
}
button {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}
hr {
	margin: 0.5% 44% 0% 44%;
	border-top: 1px solid #fff;
}
html {
	height: 100%;
}
img {
	margin: 0 auto;
	display: block;
}
p {
	font-family: 'Roboto Mono', monospace;
	font-size: 1em;
	color: white;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
}
ul {
	padding: 0;
}

div {
	display: inline-block;
}

/* ID's */
#video {
	width: 180px;
	display: inline-block;
}

/* Loader */
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../loader.gif) center no-repeat #fff;
	background-color: #020202;
}